@media screen and (max-width:767px) {

    /* Header */

    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .logo{
        margin-top: 5%;
    }
    .header_link:hover{
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }

    .header_link{
        border-bottom: 4px solid #F2F2F2;
        border-top: none;
        width: 50%;
    }

    .header_nav{
        width: 100%;
        justify-content: space-around;
    }

    .main{
        padding: 0;
    }
    /* Barre de recherche */

    .recherche{
        padding: 0 3%;
    }

    .recherche form{
        justify-content: center;
        width: 100%;
    }

    form .bouton{
        border-radius: 15px 15px 15px 15px;
    }

    .bouton span{
        display: none;
    }

    .bouton .loupe{
        display: block;
        color: #FFF;
    }

   /* Filtres*/

   .titre_filtre{
    width: 100%;
   }

   /* Hébergements */

   #hebergements{
    display: flex;
    flex-direction: column-reverse;
   }

   .populaire{
    width: 100%;
    border-radius: 0;
    padding: 5%;
   }

   .hebergement_marseille{
    width: 100%;
    background-color: #FFF;
    border-radius: 0;
   }

   #cards{
    flex-direction: column;
   }

   .card{
    width: 100%;
   }

   .plus h3{
    margin-left: 2%;
   }

   /* Activités */

   #activites{
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
   }

   #lieux{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   #lieux > *{
    width: 100%;
   }

   #lieux > a{
    height: 16%;
    margin-bottom: 20px;
   }

   #lieux > a > .card_activite > .photo{
    height: 90%;
   }

   #lieux > div{
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   #lieux > div a{
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 16px #d9d9d9;
    overflow: hidden;
   }

    #fort_iles a:nth-child(1){
    height: 50%;
    }

    #fort_iles a:nth-child(2){
    height: 50%;
    }

    #dame_parc a:nth-child(1){
    height: 50%;
}   

    /* Footer */

    #footer{
        flex-direction: column;
    }
}